.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-container {
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  width: 100%;
  background: #d32f2f;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background: #b71c1c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  color: blue;
}

.error {
  text-align: center;
  color: red;
}

.campaign-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campaign-table th,
.campaign-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.campaign-table th {
  background-color: #c62828;
  color: white;
}

.campaign-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.campaign-table tr:hover {
  background-color: #ffe5e5;
}

.campaign-hero {
  text-align: center;
  padding: 100px 20px;
}

.view-btn {
  background: #d32f2f;
  border: none;
  color: white;
  padding: 14px 30px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.view-btn:hover {
  background: #b71c1c;
}